fastapi==0.96.0
fonttools==4.39.4
httpcore==0.16.3
httplib2==0.22.0
numpy==1.23.5
packaging==23.1
pytest==7.3.2
python-dotenv==1.0.0
reactpy==1.0.0
reactpy-router==0.0.1
uvicorn==0.22.0
websockets==11.0.3
wsproto==1.2.0
requests==2.30.0
requests-oauthlib==1.3.1
typing-inspect==0.8.0
typing_extensions==4.5.0
dataclasses-json==0.5.7